.add-button-container {
        position: sticky;
        bottom: 10px;
        padding: 40px;
        display: flex;
        justify-content: right;
}

.add-button-circle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: rgb(14, 106, 120);
    
}

.add-button-circle:hover > .plus * {
    background-color: #fff;
    transform:scale(.98);
    cursor: pointer;
}

.add-button-vertical-bar {
    background-color: rgb(219, 246, 250);
    width: 60px;
    height: 13px;
    rotate: 90deg;
    position: relative;
    top: 6px;
    border-radius: 7px;
}
.add-button-horizontal-bar {
    background-color: rgb(219, 246, 250);
    width: 60px;
    height: 13px;
    position: relative;
    bottom: 5px;
    border-radius: 7px;
}