.add-button {
    position: sticky;
    width: 35px;
    height: 35px;
    background: rgb(14, 106, 120);
    cursor: pointer;
    border: 2px solid rgb(14, 106, 120);
    border-radius: 50%;
    bottom: 5%;
    padding: 40px;
    display: flex;
    justify-content: right;
    left: 92%;
    transition: 0.1s;
    margin: 2%;
}
  
.add-button:after {
    content: '';
    position: absolute;
    transform: translate(-50%, -50%);
    height: 10px;
    width: 60%;
    background: rgb(219, 246, 250);
    top: 50%;
    left: 50%;
    border-radius: 7px;
    transition: 0.1s;
}
  
.add-button:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(219, 246, 250);
    height: 60%;
    width: 10px;
    border-radius: 7px;
    transition: 0.1s;
}

.add-button:hover:before,
.add-button:hover:after {
  background: rgb(14, 106, 120);
  transition: 0.1s;
}

.add-button:hover {
  background-color: rgb(219, 246, 250);
  transform: scale(90%);
  transition: 0.1s;
}