.container {
    color: black;
    background-color: #21d88f;
    border-radius: 0px;
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    
}

.content {
    margin: 2%;
}

.button-group-1 a {
    color: black;
    font-size: 30px;
    border: none;
    margin: 5px;
    cursor: pointer;
    appearance: auto;
    background-color: inherit; 
}



.twitter:hover {
    color: rgb(29, 161, 242);  
    cursor: pointer;
}
.linkedin:hover {
    color: rgb(0, 119, 181);  
    cursor: pointer;
}
.facebook:hover {
    color: rgb(66, 103, 178);  
    cursor: pointer;
}
.youtube:hover {   
    color: rgb(255, 0, 0); 
    cursor: pointer;
}
.instagram:hover {  
    color: rgb(225, 48, 108); 
    cursor: pointer;
}



.copyright {
    color: black;
    margin-right: 130px;
}
.copyright:hover {
    cursor: pointer;
}

.button-group-2 button {
    color: black;
    margin-right: 30px;
    cursor: pointer;
    appearance: auto;
    background-color: inherit; 
    border: none;
}

