.home-title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 35px;
    margin-bottom: 50px;
    font-size: 50px;
    color: rgb(14, 106, 120);
}

.img{
    width: 20%;
    height: auto;
}