img{
    width: 70px;
    height: 70px;
}

.like {
    border: none;
    margin: 20px;
    cursor: pointer;
    appearance: auto;
    background-color: inherit; 
    transition: transform .1s ease-in-out;
}
.like:hover {
    transform: scale(0.90);    
}

.dislike {
    border: none;
    margin: 20px;
    cursor: pointer;
    appearance: auto;
    background-color: inherit; 
    transition: transform .1s ease-in-out;
}
.dislike:hover {
    transform: scale(0.90);    
}