img{
    width: 50px;
    height: 50px;
}

.like-box {
    width: 220px;
    height: 90px;
    border-radius: 30px;
    background-color: rgb(219, 246, 250);
}

.like {
    border: none;
    margin: 20px;
    margin-right: 10px;
    cursor: pointer;
    appearance: auto;
    background-color: inherit; 
    transition: transform .1s ease-in-out;
    color: black;
    font-weight: bold;
}
.like:hover {
    transform: scale(0.90);    
}

.dislike {
    border: none;
    margin: 20px;
    margin-left: 10px;
    cursor: pointer;
    appearance: auto;
    background-color: inherit; 
    transition: transform .1s ease-in-out;
    color: black;
    font-weight: bold;
}
.dislike:hover {
    transform: scale(0.90);    
}