img{
    width: 25px;
    height: 25px;
}

.like-box {
    display: flex;
    width: 160px;
    height: 45px;
    border-radius: 30px;
    background-color: rgb(219, 246, 250);
}

.like {
    border: none;
    margin: 10px;
    margin-right: 8px;
    cursor: pointer;
    appearance: auto;
    background-color: inherit; 
    transition: transform .1s ease-in-out;
    color: black;
    font-weight: bold;
}
.like:hover {
    transform: scale(0.90);    
}

.dislike {
    border: none;
    margin: 10px;
    margin-left: 8px;
    cursor: pointer;
    appearance: auto;
    background-color: inherit; 
    transition: transform .1s ease-in-out;
    color: black;
    font-weight: bold;
}
.dislike:hover {
    transform: scale(0.90);    
}