.modal-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    
    background-color: #21d88f;
    height: 75%;
    width: 62.5%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 76px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    z-index: 10;    
}
.modal-label {
    display: block;
    text-align: center;
}
.modal-textarea {
    height: 200px;
    width: 80%;
    margin-top: 10px;
    color: #000;
    resize: none;

    /* position: relative; */
}
.modal-buttons {
    display: flex;
    justify-content: space-around;
}

.modal-english-phrase {
    text-align: center;
}

.modal-translation {
    /* margin-left: auto; */
    margin-top: 10px;
    text-align: center;
}