.modal-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    padding-top: 40px;
    background-color: rgb(14, 106, 120);
    height: 90%;
    width: 62.5%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 76px;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(10, 84, 95);
    z-index: 10;    
}

.modal-language-container {
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

.modal-label {
    display: block;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin-right: 10px;
}
.modal-textarea {
    height: 200px;
    width: 80%;
    margin-top: 10px;
    color: #000;
    resize: none;
    margin-top: 20px;
}
.modal-buttons {
    display: flex;
    align-items: center;
    margin-top: -5px;
    justify-content:center;
}

.modal-english-phrase {
    text-align: center;
    margin: 30px;
    margin-top: 50px;
    color: white;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
}

.modal-translation {
    /* margin-left: auto; */
    margin: 20px;
    text-align: center;
}