.title {
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(14, 106, 120);
    margin: 60px;
    margin-left: 90px;
}

.row2 {
    display: flex;
    margin: 20px;
    margin-right: 110px;
}