.phrase-box{
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 130px;
    margin-left: 5%;
    margin-top: 50px;
    margin-bottom: 100px;
    background-color: rgb(14, 106, 120);
    padding: 20px;
    padding-bottom: 50px;
    border-radius: 30px;
}

.header {
    color: white;
    margin-left: 20px;
    margin-top: 10px;
}

.phrase-content{
    display: flex;
    align-items: center;
    height: 50%;
    font-size: medium;
    color: black;
}
.phrase-vertical-line{
    height: 170px;
    width: 2px;
    margin-left: 30px;
    margin-top: 60px;
    background-color: rgb(255, 255, 255);
}
.phrase-translation{
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 20px;
}
.phrase-like-dislike{
    display: flex;
    justify-content: right;
}
.phrase-add-translation{
    margin-left: 65%;
    margin-top: -80px;
    color: black;
    background-color: rgb(170, 231, 240);
    padding: 5px;
    padding-left: 20px;
    border-radius: 10px;
}
.phrase-add-translation:hover{
    color: rgb(14, 106, 120);
    cursor: pointer;
}
.popup-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    
    background-color: rgb(14, 106, 120);
    height: 75%;
    width: 62.5%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 76px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
}
.popup-label {
    display: block;
    text-align: center;
}
.popup-textarea {
    display: block;
    height: 300px;
    width: 300px;
    margin-top: 10px;
    margin-left: 325px;

    /* position: relative; */
}
.popup-buttons {
    display: flex;
    justify-content: space-around;
}


.popup-english-phrase {
    text-align: center;
}

.popup-translation {
    /* margin-left: auto; */
    margin-top: 10px;
    text-align: center;
}

.close-container {
    display: flex;
    flex-direction: column;
    margin-left: 1200px;
    margin-top: -100px;
    justify-content: right;
    right:50px; 
}

.close-circle {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

cursor: pointer;
width: 65px;
height: 65px;
border-radius: 50%;
border-color: black;
background-color: rgb(14, 106, 120);

}

.close-circle:hover > .cross * {
background-color: #fff;
transform:scale(.98);
cursor: pointer;
}

.close-left-diagonal-bar {
background-color: black;
width: 40px;
height: 10px;
rotate: 45deg;
position: relative;
top: 5px;
}
.close-right-diagonal-bar {
background-color: black;
width: 40px;
height: 10px;
rotate: -45deg;
position: relative;
bottom: 5px;
}