.phrase-box{
    display: flex;
    flex-direction: column;
    width: 75%;
    height: 350px;
    margin-left: 5%;
    margin-top: 50px;
    margin-bottom: 100px;
    background-color: #21d88f;
}

.phrase-content{
    display: flex;
    align-items: center;
    height: 50%;
    font-size: medium;
}
.phrase-line{
    height: 150px;
    width: 2px;
    margin-left: 30px;
    background-color: #000;
}
.phrase-title{
    margin-left: 20px;
    margin-right: 20px;
    color: white;
    font-size: 20pt;
}
.phrase-translation{
    margin-left: 15px;
    margin-right: 10px;
}
.phrase-like-dislike{
    display: flex;
    justify-content: right;
}