.submit{
    border: 2px solid black;
    background-color: rgb(38, 153, 171);
    border-radius: 12px;
    margin: 20px;
    cursor: pointer;
    appearance: auto;
    transition: transform .1s ease-in-out;
    color: white;
    padding: 14px 28px;
    font-size: 16px;
    border-color: white;
}

.submit:hover{
    transform: scale(0.90);
    background-color: rgb(37, 142, 158);
    color: white;
    cursor: pointer;
}

.translate-box input[type=text] {
    float: center;
    padding: 6px;
    margin-top: 24px;
    margin-right: 16px;
    border: none;
    font-size: 17px;
}

.translate-box input[type=text] {
    display: block;
    text-align: left;
    width: 33%;
    margin-top: 12px;
    padding: 14px;
}
   
.translate-box input[type=text] {
    border: 1px solid #ccc;  
}