.translation-box{
    width: 80%;
    min-height: 250px;
    margin-left: 10%;
    margin-top: 20px;
    margin-bottom: 50px;
    background-color: rgb(170, 231, 240);
    padding: 20px;
    padding-bottom: 50px;
    border-radius: 30px;

}

.translation-content{
    display: flex;
    align-items: center;
    height: 50%;
    font-size: medium;
    color: black;
    
}
.translation-vertical-line{
    min-height: 150px;
    width: 2px;
    margin-left: 30px;
    margin-top: 40px;
    background-color: rgb(102, 199, 214);
}
.translation-translation{
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 20px;
    text-align: left;
    padding: 5%;
}
.translation-like-dislike{
    padding-top: 40px;
    display: flex;
    justify-content: right;
}