.translation-box{
    width: 555px;
    min-height: 280px;
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 20px;
    margin-bottom: 50px;
    background-color: rgb(170, 231, 240);
    padding: 20px;
    padding-bottom: 50px;
    border-radius: 30px;
}

.translation-content{
    display: flex;
    align-items: center;
    height: 50%;
    font-size: 20px;
    color: black;
}

.translation-vertical-line{
    min-height: 120px;
    width: 2px;
    margin-left: 30px;
    margin-top: 40px;
    background-color: rgb(102, 199, 214);
}

.translation-translation{
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 20px;
    text-align: left;
    padding: 5%;
}

.translation-like-dislike{
    margin-left: 10px;
    margin-right: 5%;
    display: flex;
    justify-content: right;
}